*.ncb
*.opensdf
*.opt
*.plg
*.sdf
*.suo
*.user
ZillaLib-vs.props
.vs/
Debug-vc6/
Debug-vc9/
Debug-vs2012/
Debug-vs2012x64/
Debug-vs2013/
Debug-vs2013x64/
Debug-vs2015/
Debug-vs2015x64/
Debug-vs2019/
Debug-vs2019x64/
Debug-vs2022/
Debug-vs2022x64/
Release-vc6/
Release-vs2008/
Release-vs2012/
Release-vs2012x64/
Release-vs2013/
Release-vs2013x64/
Release-vs2015/
Release-vs2015x64/
Release-vs2019/
Release-vs2019x64/
Release-vs2022/
Release-vs2022x64/

